{% extends "base.html" %}
{% block title %}JosePage{% endblock %}

{% block head %}
  {{ super() }}  <!-- Esto incluye el contenido del bloque head de base.html -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <script src="/static/build/scroll.js"></script> <!-- Asegúrate de incluir tu script -->
  <style>
    .skills {
      aspect-ratio: 16/9;
      border: 1px solid hsla(0deg, 0%, 40%, 0.25);
      padding: 1rem;
      background-image: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
      url("{{ url_for('static', filename='images/image2.jpg') }}");
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      display: flex;
      height: 100vh;
      box-sizing: border-box;
    }

    .video-section {
      aspect-ratio: 16/9;
      border: 1px solid hsla(0deg, 0%, 40%, 0.25);
      padding: 1rem;
      background-image: 
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
      url("{{ url_for('static', filename='images/image3.jpg') }}");
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      display: flex;
      height: 100vh;
      box-sizing: border-box;
    }

  </style>
  {% endblock %}

{% block body %}
  <div id="demo-box"></div>
  <div class="contenedor-imagen">
    <img src="static/images/me1.jpeg" alt="" />
  </div>
  <h1 class="name">Jose Montaño
    <p class="subtitle">Full Stack Web Developer</p>
  </h1>
  
  <a href="#about" class="contenedor-flecha">
    <i class="fa-solid fa-arrow-down"></i>
  </a>

  <section class="about" id="about">
    <div class="contenedor-imagen-about">
        <img src="static/images/me2.jpeg" alt="Descripción de la imagen" />
    </div>
    <div class="about-content">
        <h2>About me</h2>
        <span id="line"></span>
        <p>I am a student of Information Systems Engineering at the University of Sonora. At 19 years old, I have focused on web development, where I have worked with technologies such as Python, TypeScript, HTML and CSS, in addition to managing databases with MySQL and Oracle Database. I am passionate about creating intuitive and functional web experiences, but I am also exploring application development to expand my skills and grow professionally. I am always looking for new challenges to continue learning and improve my abilities as a programmer.
        </p>
        <p>I am a proactive and curious person, always willing to adapt to new technologies and tools. I am interested in collaborating on projects that allow me to apply my knowledge and learn from professionals in the development field.
        </p>
        
        <!-- Agrega aquí más contenido de texto según sea necesario -->
        <button id="button">
          <a id="button-span" href="{{ url_for('static', filename='files/CV-José Antonio Montaño Gastélum.pdf') }}" download="CV.pdf">
              Download CV
          </a>
      </button>
    </div>
</section>

<section class="skills" id="skills">
  <div class="skills-content">
    <h2>My Skills</h2>
    <span></span>
    <div class="lenguages">
      <h3>Languages:</h3>
      <ul>
        <li>Spanish</li>
        <li>English</li>
      </ul>
    </div>
    <div class="programming">
      <h3>Programming languages:</h3>
      <ul>
        <li>Python</li>
        <li>Typescript</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
    </div>
    <div class="databases">
      <h3>Databases</h3>
      <ul>
        <li>MySQL</li>
        <li>Oracle Database</li>
      </ul>
    </div>
  </div>
</section>

  <section class="services" id="services">
    <div class="services-content">
      <h2>My Services</h2>
      <span></span>
      <div class="services-grid">
        <div class="service-box service1">
          <h3>Frontend Development</h3>
          <p>Creating responsive, interactive UIs.</p>
        </div>
        <div class="service-box service2">
          <h3>Backend Development</h3>
          <p>Building secure server-side applications.</p>
        </div>
        <div class="service-box service3">
          <h3>Web Performance Optimization</h3>
          <p>Boosting website speed and performance.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="video-section" id="video-section">
    <div class="video-content">
      <h3>Get to Know Me</h3>
      <span id="line"></span>
      <div class="video-box">
        <div class="video-placeholder">
          <span><i class="fa-solid fa-screwdriver-wrench fa-2xl"></i></span>
          <p>Working On The Video</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="social-media">
    <h2>Follow Me</h2>
    <span id="line"></span>
    <div class="social-icons">
      <div class="social-icon">
        <span>Instagram</span>
        <a href="https://www.instagram.com/mogas.dev/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </div>
      <div class="social-icon">
        <span>X</span>
        <a href="https://x.com/DevMogas" target="_blank">
          <i class="fa-brands fa-x-twitter"></i></i>
        </a>
      </div>
      <div class="social-icon">
        <span>LinkedIn</span>
        <a href="https://www.linkedin.com/in/josé-montaño-gastélum-527426270/" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
      <div class="social-icon">
        <span>GitHub</span>
        <a href="https://github.com/JoyMoGas" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
  </section>
  
  <section class="portfolio" id="portfolio">
    <div class="portfolio-content">
      <h2>Portfolio</h2>
      <span></span>
      <div class="portfolio-grid">
        <div class="portfolio-card">
          <img src="static/images/project1.jpeg" alt="Project 1" class="portfolio-image" />
          <h3>Heluja Arquitectura Website</h3>
          <p>Website for an architect, displaying their skills, featured projects and contact options in a visual and accessible way.</p>
        </div>
        <div class="portfolio-card">
          <img src="static/images/project2.jpeg" alt="Project 2" class="portfolio-image" />
          <h3>My Portfolio</h3>
          <p>
            A personal website that showcases my skills, projects and experience, with a clean and functional design to highlight my work and facilitate contact.</p>
        </div>
        <div class="portfolio-card">
          <img src="static/images/project3.jpeg" alt="Project 3" class="portfolio-image" />
          <h3>Mag Finder</h3>
          <p>School project for an online magazine website with institutional design, keyword search and alphabetical filters.</p>
        </div>
        <div class="portfolio-card">
          <img src="static/images/project4.jpeg" alt="Project 4" class="portfolio-image" />
          <h3>MoGas Cine</h3>
          <p>School project of a movie website with filters by genre, alphabetical order, year of release and reviews of each movie.</p>
        </div>
      </div>
    </div>
  </section>
  
  
  


{% endblock %}
