:root {
  --primary-color: #F54864; /* #F78361 */
  --secondary-color: #242A38;
  --dark-gray: #4E596F;
  --white: #FFFFFF;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* El body ocupará al menos el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column; /* Estructura vertical */
}

/* El contenido principal debe crecer para ocupar el espacio disponible */
main {
  flex-grow: 1; /* Este asegura que el contenido principal crezca */
}



html {
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark-gray);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Esto debería evitar el scroll horizontal */
}




.about, .services, .skills-content {
  display: flex;
  width: 100%;
  max-width: 100%; /* Asegura que no se desborde */
  padding: 20px;
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

.start-content {
  flex: 1;
  padding: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 2.5em;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.subtitle {
  font-size: 16px;
  color: var(--white);
  text-align: center;
}

.contenedor-imagen {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

.contenedor-imagen > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-flecha {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 6px  0px rgba(0, 0, 0, 0.5);
  display: flex; /* Añadir flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

.contenedor-flecha > i {
  font-size: 20px; /* Ajustar el tamaño del icono */
  color: var(--primary-color); /* Cambiar el color del icono */
}




.about {
  background-color: var(--secondary-color);
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 999;
}

.about-content {
  flex: 1;
  padding: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2{
  color: var(--white);
  margin-bottom: 10px;
  font-size: 2rem;
}

.about-content p {
  color: var(--white);
}

.about-content #line {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}

.contenedor-imagen-about {
  flex: 0 0 50%;
  height: calc(100% - 40px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor-imagen-about img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--dark-gray);
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}

button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--primary-color);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}






.skills-content {
  flex: 1;
  padding: 20px;
  padding-top: 2px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-content h2, .skills-content p {
  color: var(--white);
}

.skills-content h2{
  padding-top: 0.5em;
  margin-bottom: 2px;
  font-size: 2rem;
}

.skills-content span {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 10px; /* Espacio debajo de la línea */
}

.skills-content h3{
  color: var(--white);
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.skill-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

/* Etiqueta de habilidades: imagen y nombre */
.skill-label {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px; /* Tamaño fijo para alinear las barras */
}

.skill-label img {
  width: 5px;
  height: 5px;
}

.skill-label p {
  margin: 0;
  font-size: 1rem;
}

/* Barra de progreso */
.skill-bar-container {
  flex-grow: 1;
  background-color: #f0f0f0;
  border-radius: 20px;
  width: 50%;
  height: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-bar {
  height: 100%;
  background-color: #5DADE2;
  width: var(--percent);
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
}

/* Mobile-first - ajustar el layout para dispositivos pequeños */
@media (max-width: 767px) {
  .skill-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .skill-label {
    width: auto;
    margin-bottom: 10px;
  }

  .skill-bar-container {
    width: 60%;
    height: 5px;
  }
}

/* Adaptación para pantallas más grandes */
@media (min-width: 768px) {
  .skills-content span {
    width: 8%;
  }
  .skills-content {
    flex-direction: column; /* Mantiene el título en la parte superior */
  }

  .skills-grid {
    display: flex; /* Cambia a fila */
    justify-content: space-between; /* Espacio entre las secciones */
    margin-top: 20px; /* Espacio superior para las habilidades */
  }

  .skills-content > div {
    flex: 1; /* Cada sección ocupa el mismo espacio */
    margin: 0 10px; /* Espacio horizontal entre secciones */
  }

  .skills-content > div h3 {
    font-size: 1.8rem; /* Aumenta ligeramente el tamaño del texto en pantallas grandes */
  }

  .skills-content > div li {
    font-size: 1.1rem; /* Aumenta el tamaño del texto de las listas */
  }
}


.services {
  background-color: var(--secondary-color);
  display: flex;
  height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.services-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-content h2{
  color: var(--white);
  margin-bottom: 10px;
  font-size: 2rem;
}

.services-content p {
  color: var(--white);
}

.services-content span {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}

.services-grid {
  display: flex;
  flex-direction: column; /* Mobile first: apila los recuadros verticalmente */
  gap: 1rem;
}

.services h3 {
  color: var(--white);
}

.services p {
  font-size: .8em;
}

.service-box {
  border: 1px solid #F54864; /* Contorno de los recuadros */
  padding: 1rem;
  border-radius: 10px;
  background-color: #4E596F; /* Cambia según el recuadro */
}




.video-section {
  display: flex; /* Utiliza flexbox para disposición */
  flex-direction: column; /* Coloca el contenido en columnas */
  align-items: center; /* Centra horizontalmente el contenido general */
  padding: 20px; /* Espacio interno */
  background-color: var(--light-gray); /* Color de fondo opcional */
}

.video-content {
  text-align: center; /* Asegúrate de que el texto del contenedor esté centrado */
  width: 100%; /* Abarca todo el ancho disponible */
  max-width: 800px; /* Máximo ancho del contenido */
}

.video-content h3 {
  padding-top: 2.5em;
  padding-bottom: 0;
  color: var(--white);
  font-size: 2rem;
  text-align: left; /* Alinea el texto a la izquierda */
  width: 100%; /* Asegura que el ancho sea completo para alineación */
}

.video-content #line {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}

.video-box {
  background-color: var(--dark-gray); /* Color de fondo para simular el video */
  border: 1px solid hsla(0deg, 0%, 40%, 0.25); /* Contorno del cuadro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 20px; /* Espacio interno */
  margin-top: 20px; /* Espacio superior */
  width: 88%; /* Ancho del cuadro */
  
  height: 340px; /* Altura del cuadro para simular un video */
  display: flex; /* Utiliza flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.video-placeholder {
  color: var(--white);
  display: flex; /* Utiliza flexbox para centrar el icono y el texto */
  flex-direction: column; /* Coloca el icono y texto uno encima del otro */
  align-items: center; /* Centra horizontalmente el contenido */
}

.video-placeholder i {
  size: 5em;
  color: var(--white);
}

/* Adaptación para pantallas más grandes */
@media (min-width: 768px) {
  html {
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .about-content #line {
    width: 18%;
  }
  
  .services-content span {
    width: 8%;
  }

  .video-content #line {
    width: 13%;
  }


  .services h3 {
    font-size: 2em;
    color: var(--white);
  }
  
  .services p {
    font-size: 1.5em;
  }

  .video-box {
    width: 800px; /* Ancho del cuadro */
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    height: 400px;
  }
  
  .video-placeholder {
    color: var(--white);
    display: flex; /* Utiliza flexbox para centrar el icono y el texto */
    flex-direction: column; /* Coloca el icono y texto uno encima del otro */
    align-items: center; /* Centra horizontalmente el contenido */
  }

  .services-grid {
    flex-direction: row; /* Coloca los recuadros en fila */
    justify-content: space-between;
  }

  .service-box {
    flex: 1; /* Asegura que los recuadros ocupen espacio proporcionalmente */
    margin: 0 10px; /* Espacio entre recuadros */
  }
}
/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .about {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
      height: auto; /* Permite que la sección se ajuste automáticamente */
  }

  .contenedor-imagen-about {
      flex: 1; /* La imagen ocupa todo el ancho en dispositivos móviles */
      height: auto; /* Permite que la altura se ajuste automáticamente */
  }

  .about-content {
      padding: 10px; /* Reduce el padding en dispositivos móviles */
  }
}

.social-media {
  padding: 20px;
  text-align: center; /* Centra el contenido */
  background-color: var(--secondary-color); /* Color de fondo opcional */
}

.social-media h2 {
  font-size: 2em;
  text-align: left; /* Alinea el texto a la izquierda */
  color: var(--white);
  margin-bottom: 15px;
}

.social-media #line {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}

.social-icons {
  padding-bottom: 5em;
  display: flex; /* Disposición en fila */
  justify-content: center; /* Centra horizontalmente */
  gap: 20px; /* Espacio entre íconos */
}

.social-icon {
  display: flex;
  flex-direction: column; /* Coloca texto y icono en columna */
  align-items: center; /* Centra el texto y el icono */
  color: var(--white); /* Color de los íconos y texto */
}

.social-icon span {
  margin-bottom: 10px; /* Espacio entre el texto y el icono */
  font-size: 1rem; /* Tamaño del texto */
}

.social-icon a {
  color: inherit; /* Hereda el color del padre */
  font-size: 2rem; /* Tamaño del ícono */
  transition: transform 0.3s; /* Efecto de transición */
}

.social-icon a:hover {
  transform: scale(1.1); /* Efecto de aumento al pasar el cursor */
}



.portfolio-content {
  flex: 1;
  padding: 20px;
  background-color: var(--dark-gray);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.portfolio-content h2 {
  margin-top: 2em;
  font-size: 2em;
  color: var(--white);
  margin-bottom: 15px;
  text-align: left; /* Alinea el texto a la izquierda */
}

.portfolio-content span {
  display: block;
  width: 30%; /* O el ancho que prefieras */
  border-top: 2px solid #F54864; /* Línea similar a <hr> */
  margin-bottom: 20px; /* Espacio debajo de la línea */
}

.portfolio-grid {
  display: grid; /* Usar grid para el diseño */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Tres columnas con un tamaño mínimo */
  gap: 20px; /* Espacio entre tarjetas */
}

.portfolio-card {
  background-color: var(--secondary-color); /* Color de fondo de la tarjeta */
  margin-top: 3em;
  padding: 0; /* Sin espacio interno para maximizar la imagen */
  border-radius: 10px; /* Bordes redondeados */
  color: var(--white); /* Color del texto */
  overflow: hidden; /* Oculta el desbordamiento de la imagen */
}

.portfolio-image {
  width: 100%; /* Ancho completo para la imagen */
  height: 200px; /* Altura estándar para las imágenes */
  object-fit: cover; /* Cubre el área manteniendo la proporción */
  border-radius: 10px 10px 0 0; /* Bordes redondeados en la parte superior */
}

.portfolio-card h3 {
  margin: 10px; /* Espacio alrededor del título */
  font-size: 1.5em;
}

.portfolio-card p {
  margin: 10px; /* Espacio alrededor de la descripción */
}

.skills, .video-section, .portfolio-content {
  min-height: 100%;
}


/* Aumentar el tamaño de las tarjetas en pantallas grandes */
@media (min-width: 768px) {
  .portfolio-grid {
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en pantallas grandes */
  }

  .portfolio-card {
    min-height: 400px; /* Altura mínima para las tarjetas en pantallas grandes */
  }

  .portfolio-image {
    height: 250px; /* Altura mayor para las imágenes en pantallas grandes */
  }
}



/* Media queries para pantallas más grandes */
@media (min-width: 768px) {
  .social-media #line {
    width: 9%;
  }

  .portfolio-content span {
    width: 9%;
  }

  .name {
    font-size: 4em;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {

  .name {
    font-size: 5em;
  }

  .subtitle {
    font-size: 25px;
  }

  .contenedor-imagen {
    width: 160px;
    height: 160px;
  }
}

:root {
  --primary-color: #F54864; 
  --secondary-color: #242A38;
  --dark-gray: #4E596F;
  --white: #FFFFFF;
}

/* Animación de fade-in */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}



.navbar {
  background-color: transparent; 
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0; /* Mayor padding-top cuando es transparente */
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  box-sizing: border-box;
  z-index: 1000; 
  transition: padding-top 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

.navbar.scrolled {
  background-color: var(--dark-gray); 
  padding-top: 10px; /* Reducir padding-top al hacer scroll */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer scroll */
}

.nav_items {
  display: flex;
  transition: 0.3s ease all;
}

.nav_logo {
  font-weight: bold;
  font-size: 25px;
  margin: 15px;
  margin-right: 0;
  color: var(--white);
  transition: color 0.3s ease; /* Transición suave para el color del logo */
}

.nav_logo span {
  font-weight: lighter;
  font-size: 20px;
  margin: 15px;
  margin-left: 0;
  color: var(--white);
  transition: color 0.3s ease; /* Transición suave para el color del logo */
}

.nav_items a {
  margin: 15px;
  color: var(--white);
  position: relative;
  text-decoration: none;
  transition: padding 0.3s ease, color 0.3s ease; /* Transición suave para el padding y color */
}

.nav_items a:hover {
  margin: 15px;
  color: var(--secondary-color);
  position: relative;
  text-decoration: none;
  transition: padding 0.3s ease, color 0.3s ease; /* Transición suave para el padding y color */
}

.nav_items a.scrolled {
  margin-top: 5px; /* Reducir margen superior cuando se hace scroll */
}

.nav_items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: var(--dark-gray);
  transition: all 0.5s;
}

.nav_items a:hover::before {
  width: 100% !important;
}

.nav_toggle {
  display: none;
}

.language-toggle {
  position: relative; /* Para posicionar la lista desplegable */
  margin: 0 15px; /* Espaciado a los lados */
}

#language-toggle {
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin borde */
  color: var(--white); /* Color del texto del botón */
  font-size: 18px; /* Tamaño del texto */
  cursor: pointer; /* Cambiar el cursor a puntero */
  display: flex;
  align-items: center; /* Centrar verticalmente */
  transition: color 0.3s ease; /* Transición suave para el color */
}



@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px; /* No afecta padding en mobile */
  }
  
  .nav_items {
    position: absolute;
    top: 60px;
    left: 0;
    background: var(--dark-gray);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    transform: translateX(-100%);
    transition: 0.3s ease all;
    z-index: 999;
  }

  .nav_items.open {
    transform: translateX(0); 
  }

  .nav_items a {
    text-align: center;
  }

  .nav_toggle {
    display: flex !important;
    flex-direction: column;                
    margin: 15px;
    cursor: pointer;
  }

  .nav_toggle span {
    width: 30px;
    height: 4px;
    background: var(--white);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }

  .nav_toggle.close span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .nav_toggle.close span:nth-child(2) {
    display: none;
  }

  .nav_toggle.close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}

.footer {
  background: var(--secondary-color);
  padding: 20px 0; /* Ajuste del padding para móviles */
  font-family: 'Play', sans-serif;
  text-align: center;
  position: relative; /* Cambiado para facilitar la fijación */
  bottom: 0; /* Fijar al fondo */
  width: 100%; /* Asegurar que ocupa el ancho completo */
}

.footer .row {
  width: 100%;
  margin: 1% 0;
  padding: 0.6% 0;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block; /* Se puede cambiar a block en móviles si se desea */
  margin: 0 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0 1%;
}
.footer {
  margin-top: auto; /* Empuja el footer hacia abajo */
}

@media (max-width: 768px) {
  .footer {
    text-align: left;
    padding: 15px 5%; /* Ajuste del padding para móviles */
  }

  .footer .row ul li {
    display: block; /* Muestra en bloque para móviles */
    margin: 10px 0;
    text-align: left;
  }

  .footer .row a i {
    margin: 0 3%;
  }
}


  




